.comandpost {
    width: 100%;
    padding: 20px 0;
    background-color: var(--opponent-color);
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
}

.comandpost_gamer {
    background-color: var(--gamer-color);
}

.comandpost .comandpost__hp {
    color: rgb(255, 255, 255);
}

.comandpost .comandpost__name {
    color: rgb(255, 255, 255);
}

.comandpost .comandpost__damage {
    color: rgb(255, 255, 255);
}